<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'app/img/logo/logo.png' %}">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <h1>{{ name }}</h1>

    <img src="{% static 'app/img/fons.jpg' %}" alt="Фото Орла">
    
    <div id="content_one" class="content">
        <h2>Немного о Себе</h2>
        <p>
            Я начинающий Python разработчик ...
            <br>Люблю участвовать в различных Мероприятиях, таких как Хакатоны и т.д. 
            связанные с <span>IT</span><br>Учусь я в Колледже РКСИ - Довольно не плохой колледж, 
            здесь я смог понять частично весь вкус из жизни <span>IT</span>
            <br>Специальность у меня ИС ( Информационные Системы ) это типо инжер программист.
            <br><br>Преподы хорошие, отзывчивые, помогают в любую трудную ситуацию.
            <br>В колледже я особо не научился программировать, только лишь дали базу, чтобы потом продвишаться самому ...
            <br>Я начал учить язык программирования Python, когда я попал на 2 ( второй ) курс.
            <br>Начинал я с курса на Stepik ( <a title="Курс на Stepik" href="https://stepik.org/course/58852/info">Курс для начинающих Python</a> ).
            <br>После курса я уже мог достаточно неплохо программировать на Python ...
        </p>
    </div>

    <div id="content_two" class="content">
        <h2>Что потом</h2>
        <p>
            После этого я начал участвовать в Хакатонах, но я проигрывал :(<br>
            Причины проигрышей были в том, что у <span>меня:</span>
            <ul>
                <li>Плохая команда</li>
                <li>Тяжёлый кейс для меня</li>
            </ul>
            Ну и другие, это самые такие основные проблемы
        </p>
    </div>
    <div id="content_tree" class="content">
        <h2>Итог</h2>
        <p>
            Ну вот теперь я немного привык к << суете >> << вайбу >> Хакатонов и решил часто участвовать :)<br>
            <br>Во время Хакатона, Если ты зареган на офлайнн, за решение небольших задач или всякие конкурсы, мастер-классы можно получить всякие прикольные <span>штучки</span> ( Начиная с футболок заканчивая на технику: Колонки, ручки от брендов известных, блокноты и т.д. )
        </p>
    </div>
    <center>
        <h3>Тут можно посмотреть мои новости</h3>
        <button><a href="http://127.0.0.1:8000/news">Перейти</a></button>
    </center>
</body>
</html>