<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Крутой Зага</title>
        <style>
            a:hover, a {
                font-size: 30px;
                color: brown;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h2>Условие Задания:</h2>
        <p>1) Создать views-функцию, которая будет выводить 3 случайных числа от 0 до 3.
        <p>2) Создать условия:</p>
            <ul>
                <li>Если все числа равны-функция возвращает HTTPResponse с выводом чисел и надписью “Победа, все 3 числа равны!”</li>
                <li>Если не выпадает одинаковых чисел возвращает HTTPResponse с выводом чисел и надписью “Повезет в следующий раз!”</li>
            </ul>
        <p>3) Создать адрес для этой страницы: http://127.0.0.1:8000/game</p>
        <br><br><br><br>
        <h3>Ответ на Задание:</h3>
        <p>Нажмите на ответ... <a href="http://127.0.0.1:8000/game">Ответ</a></p>
    </body>
</html>