<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Курс Django</title>
        <style>
            a:hover, a {
                font-size: 30px;
                color: brown;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h2>Условие Задания:</h2>
        <p>Домашнее задание принимается в виде zip-архива с файлами проекта без виртуальной среды.</p>
        <p>1) Создать  2 функции, которые будут выдавать пользователю 2 любых фразы.</p>
        <p>2) Создать вложенный путь к каждой из них:</p>
        Пример:
        <ul>
            <li>http://127.0.0.1:8000/pages/page1</li>
            <li>http://127.0.0.1:8000/pages/page2</li>
        </ul>
        <a href="http://127.0.0.1:8000/pages">Перейти на страницу <b>pages</b></a>
    </body>
</html>