<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pages</title>
        <style>
            h2 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <h2>Страница Pages</h2>
            <p>Перейти на страницу Page1  --  <a href="http://127.0.0.1:8000/pages/page1">page1</a></p>
            <p>Перейти на страницу Page2  --  <a href="http://127.0.0.1:8000/pages/page2">page2</a></p>
        </div>
    </body>
</html>
